.navbar {
    /* background-color: rgb(246, 207, 162); */
    color: #edc434;
    display: flex; 
    justify-content: space-between; 
    align-items: center; 
    height: 100px;
    transition: background-color 0.3s ease;
    text-decoration-thickness: 30px; 
    background-color: transparent;
    left: 0;
    right:0;
    top: 0;
    z-index: 2000; 
   
}
  
.maincontent {
    display: flex;
    align-items: center; /* Vertically center items */
    
}

.img {
    width: 200px !important;
    height: 200px  !important;
    padding-left: 30%;
    margin-top: 50px;

}

.nav-components {
    display: flex;
    list-style: none;
    padding-left: 110%;
    padding-bottom: 2%;
}

.nav-components li {
    padding: 10px 30px 15px 30px;
    font-weight: bold; 
}