

.homepage {
    position: relative;
    background-image: url('../../assets/cake-02.png');
    background-size: cover; /* Ensures the image covers the entire area */
    background-position: center; /* Centers the image */
    background-repeat: no-repeat; /* Prevents the image from repeating */
    width: 100vw;
    height: 100vh;
    overflow: hidden; /* Ensure the pseudo-element doesn't overflow */
}

.homepage::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #000; /* Initial background color (black) */
    z-index: 1; /* Ensure it is above the background image but below other content */
    animation: fadeOut 6s forwards; /* 3 seconds animation */
    pointer-events: none; /* Allow interactions with other elements */
}

@keyframes fadeOut {
    0% {
        opacity: 1; 
    }
    100% {
        opacity: 0; 
    }
}

.navbar, .content , .left-side-heading,.left-side-para{
    position: relative;
    z-index: 2; /* Ensure these elements are above the pseudo-element */
}


.left-side{
    position: absolute;
    margin-top: 160px;
    margin-left: 20px;

}

.left-side-para {
    color:#edc434;
    font-family: "Edu TAS Beginner", cursive;
    font-optical-sizing: auto;
    font-weight: 2px;
    font-style: normal;
    font-size:25px;
   
}

.left-side-heading{
    font-family: "Poetsen One", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 46px;
    color:#C66339;
}
